<div clas="container-fluid">
    <div class="row">
        <div class="form-container col-md-4">
            <h2 class="form-title">Inscrivez-vous</h2>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Noms</label>
                    <input class="form-control" type="text">
                </div>
                <div class="col-md-6 form-group">
                    <label>Prénoms</label>
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label>Numero de telephone</label>
                <div class="row">
                    <div class="col-md-3 number-prefix">
                        +261
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input class="form-control" type="password">
            </div>
            <button class="btn btn-black btn-lg btn-round">S'inscrire</button>
            <p>Déjà un compte ?<a>Connectez-vous</a></p>
        </div>
        <div class="col-md-8 side-presentation">
            <img src="assets/images/side-presentation.png">
        </div>
    </div>
</div>

