<footer>
    <div class="footer-container">
        <div class="company-info">
            <p class="fugaz footer-block-title">E-kaly</p>
            <div class="footer-block-body">
                <p><span class="footer-line-header">Nom:</span> Rakotonaivo Rado</p>
                <p><span class="footer-line-header">Prénoms:</span> Tiako Sombiniaina</p>
                <p><span class="footer-line-header">Numéro étudiant:</span> ETU000917</p>
            </div>
        </div>
        <div class="business-hours">
            <p class="footer-block-title">heures de livraison</p>
            <div class="footer-block-body">
                <p>Du lundi au samedi de 7h30 à 22h</p>
                <p>Dimanche de 9h à 19h</p>
            </div>
        </div>
    </div>
</footer>
