<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand logo" [routerLink]="['/']">E-kaly</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars">
      </span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated()&&isAuthorized('customer')">
        <li class="nav-item"><a [routerLink]="['/restaurantoverview']">Restaurants</a></li>
        <li class="nav-item"><a [routerLink]="['/orders']">Mes commandes</a></li>
        <li class="nav-item"><a (click)="open()">Panier</a></li>
        <li class="nav-item"><a (click)="logout()">Se deconnecter</a></li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated()&&isAuthorized('restaurant')">
        <li class="nav-item"><a>Dashboard</a></li>
        <li class="nav-item"><a>Commandes</a></li>
        <li class="nav-item"><a [routerLink]="['/restaurantmanager/dishcategories']">Gestion plats</a></li>
        <li class="nav-item"><a (click)="logout()">Se deconnecter</a></li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated()&&isAuthorized('admin')">
        <li class="nav-item"><a>Dashboard</a></li>
        <li class="nav-item"><a [routerLink]="['/admin']">Commandes</a></li>
        <li class="nav-item"><a>Gestion restaurants</a></li>
        <li class="nav-item"><a (click)="logout()">Se deconnecter</a></li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated()&&isAuthorized('delivery')">
        <li class="nav-item"><a [routerLink]="['/delivery']">taches</a></li>
        <li class="nav-item"><a (click)="logout()">Se deconnecter</a></li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!isAuthenticated()">
        <li class="nav-item"><a [routerLink]="['/signin']">Se connecter</a></li>
        <li class="nav-item"><a [routerLink]="['/signup']">S'inscrire</a></li>
      </ul>
    </div>
  </nav>