<div class="banner">
    <img class="banner-img" src="assets/images/menu-banner.jpg"/>
    <div class="banner-content">
        <div class="banner-title">Menu</div>
        <div class="banner-navigation">restaurants / <span class="banner-actual-page">{{restaurant.name}}</span></div>
    </div>       
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 menu-category">
            <div *ngFor="let category of restaurant.categories"class="menu-category-item">
                <div class="menu-category-item-title">
                    {{category.name}}
                </div>
                <div class="menu-category-item-number">
                    <span class="badge badge-unactive">{{category.dishes.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <app-menucategory *ngFor="let category of restaurant.categories" [category]="category"></app-menucategory>
        </div>
    </div>
</div>
<div class="cart">
    <i class="fa fa-shopping-cart"></i>
</div>