<div class="banner">
    <img class="banner-img" src="assets/images/menu-banner.jpg"/>
    <div class="banner-content">
        <div class="banner-title">Menu</div>
        <div class="banner-navigation">restaurants / <span class="banner-actual-page">Pho Resto</span></div>
    </div>       
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 menu-category">
            <div class="menu-category-item">
                <div class="menu-category-item-title">
                    Entrées
                </div>
                <div class="menu-category-item-number">
                    <span class="badge badge-unactive">1</span>
                </div>
            </div>
            <div class="menu-category-item">
                <div class="menu-category-item-title">
                    Entrées
                </div>
                <div class="menu-category-item-number">
                    <span class="badge badge-unactive">1</span>
                </div>
            </div>
            <div class="menu-category-item">
                <div class="menu-category-item-title">
                    Entrées
                </div>
                <div class="menu-category-item-number">
                    <span class="badge badge-unactive">1</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="menu-part">
                <div class="menu-part-title">Entrées</div>
                    <div class="row">
                        <div class="menu-part-dish col-md-5">
                            <img class="dish-img" src="assets/images/dish-pic.jpg"/>
                            <div class="dish-component-group">
                                <div class="dish-info">
                                    <div class="dish-name">Salade</div>
                                    <div class="dish-description">Laitue/ Mayonnaise</div>
                                    <div class="dish-price"><span class="bold">Prix: </span>12 000 Ar</div> 
                                </div>
                                <button class="btn btn-color-scheme btn-absolute">Commander</button>
                            </div>
                        </div>
                        <div class="menu-part-dish col-md-5">
                            <img class="dish-img" src="assets/images/dish-pic.jpg"/>
                            <div class="dish-component-group">
                                <div class="dish-info">
                                    <div class="dish-name">Salade</div>
                                    <div class="dish-description">Laitue/ Mayonnaise</div>
                                    <div class="dish-price"><span class="bold">Prix: </span>12 000 Ar</div> 
                                </div>
                                <button class="btn btn-color-scheme btn-absolute">Commander</button>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
<div class="cart">
    <i class="fa fa-shopping-cart"></i>
</div>