<div class="banner">
    <img class="banner-img" src="assets/images/restaurant-banner.jpg"/>
    <div class="banner-content">
        <div class="banner-title">restaurants</div>
        <div class="search-bar">
            <form #searchForm="ngForm">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Restaurant, plat, endroit" name="query" ngModel>
                    <button class="btn btn-color-scheme btn-no-margin" (click)="search(searchForm.value.query)">Rechercher</button>
                </div>
            </form>
        </div>
    </div>       
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 categories">
            <fieldset>
                <legend>Type de restaurant</legend>
                <div class="fieldset-container">
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-9">
            <div class="restaurant-summary-container">
                <div *ngFor="let restaurant of searchResult.restaurants" class="restaurant-summary">
                    <img class="restaurant-image" src="assets/images/restaurant-image.jpg"/>
                    <p class="restaurant-name">{{restaurant.name}}</p>
                    <div class="restaurant-information">
                        <p class="restaurant-opening-day"><i class="fa fa-calendar-o"></i>  <span class="small-lighter">{{restaurant.adress}}</span> </p>
                    </div>
                    <button class="btn btn-round btn-side btn-black" [routerLink]="['/restaurantdetail/',restaurant._id]"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <app-pagination [totalPage]="searchResult.totalPages" (sendPage)="changePage($event)" [page]="searchResult.page"></app-pagination>
        </div>
    </div>
</div>