<div class="banner">
    <img class="banner-img" src="assets/images/restaurant-banner.jpg"/>
    <div class="banner-content">
        <div class="banner-title">restaurants</div>
        <div class="search-bar">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Restaurant, plat, endroit">
                    <button class="btn btn-color-scheme btn-no-margin">Rechercher</button>
                </div>
            </form>
        </div>
    </div>       
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 categories">
            <fieldset>
                <legend>Type de restaurant</legend>
                <div class="fieldset-container">
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                    <div class="fieldset-element">
                        <input type="checkbox" id="kraken" name="monster">
                        <label for="kraken">Kraken</label><br/>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-9">
            <div class="restaurant-summary-container">
                <div class="restaurant-summary">
                    <img class="restaurant-image" src="assets/images/restaurant-image.jpg"/>
                    <p class="restaurant-name">Pho Resto</p>
                    <div class="restaurant-information">
                        <p class="restaurant-opening-day"><i class="fa fa-calendar-o"></i>  <span class="small-lighter">Lundi au vendredi</span> </p>
                        <p class="restaurant-opening-hour"><i class="fa fa-clock-o"></i>  <span class="small-lighter">09 à 19h</span></p>
                    </div>
                    <button class="btn btn-round btn-side btn-black"><i class="fa fa-arrow-right"></i></button>
                </div>
           
                <div class="restaurant-summary">
                    <img class="restaurant-image" src="assets/images/restaurant-image.jpg"/>
                    <p class="restaurant-name">Pho Resto</p>
                    <div class="restaurant-information">
                        <p class="restaurant-opening-day"><i class="fa fa-calendar-o"></i>  <span class="small-lighter">Lundi au vendredi</span> </p>
                        <p class="restaurant-opening-hour"><i class="fa fa-clock-o"></i>  <span class="small-lighter">09 à 19h</span></p>
                    </div>
                    <button class="btn btn-round btn-side btn-black"><i class="fa fa-arrow-right"></i></button>
                </div>
            
                <div class="restaurant-summary">
                    <img class="restaurant-image" src="assets/images/restaurant-image.jpg"/>
                    <p class="restaurant-name">Pho Resto</p>
                    <div class="restaurant-information">
                        <p class="restaurant-opening-day"><i class="fa fa-calendar-o"></i>  <span class="small-lighter">Lundi au vendredi</span> </p>
                        <p class="restaurant-opening-hour"><i class="fa fa-clock-o"></i>  <span class="small-lighter">09 à 19h</span></p>
                    </div>
                    <button class="btn btn-round btn-side btn-black"><i class="fa fa-arrow-right"></i></button>
                </div>
            
                <div class="restaurant-summary">
                    <img class="restaurant-image" src="assets/images/restaurant-image.jpg"/>
                    <p class="restaurant-name">Pho Resto</p>
                    <div class="restaurant-information">
                        <p class="restaurant-opening-day"><i class="fa fa-calendar-o"></i>  <span class="small-lighter">Lundi au vendredi</span> </p>
                        <p class="restaurant-opening-hour"><i class="fa fa-clock-o"></i>  <span class="small-lighter">09 à 19h</span></p>
                    </div>
                    <button class="btn btn-round btn-side btn-black"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item active-page"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
            </ul>
        </div>
    </div>
</div>