<div class="banner">
    <img class="banner-img" src="assets/images/home.jpeg"/>
    <div class="banner-content">
        <div class="banner-title">Bienvenu sur E-kaly!</div>
    </div>       
</div>
<div class="container mt-5">
    <div class="text-middle bold text-center mb-5">Comment ça marche?</div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="d-flex justify-content-center">
                <img src="assets/images/tablet.png" width="100" height="100"/>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="color-scheme-line"></div>
            </div>
            <p class="text-center">Ajoutez à votre panier vos plats favoris des restaurants dont vous êtes familiers.</p>
        </div>
        <div class="col-md-4 mb-5">
            <div class="d-flex justify-content-center">
                <img src="assets/images/delivery-scooter.png" width="100" height="100"/>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="color-scheme-line"></div>
            </div>
            <p class="text-center">Après moins de deux heures, vos plats seront livrés à votre porte.</p>
        </div>
        <div class="col-md-4 mb-5">
            <div class="d-flex justify-content-center ">
                <img src="assets/images/money.png" width="100" height="100"/>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="color-scheme-line"></div>
            </div>
            <p class="text-center">Payez en espèce à la livraison.</p>
        </div>
    </div>
</div>
