<div class="modal-header">
    <h4 class="modal-title">Panier</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="restaurantOrders.length > 0">
      <div class="cart-items">
        <div class="cart-items-header">
          <label class="text-beginning">Libellé</label>
          <label class="text-end">Prix</label>
          <label class="text-center">Quantité</label>
          <label class="text-end">Sous-total</label>
        </div>
       <app-cart-restaurant-category *ngFor="let order of restaurantOrders" [order]="order"></app-cart-restaurant-category>
      </div>
      <div class="row cart-resume">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
          <div class="cart-resume-row">
            <label>Frais de livraison</label>
            <label>{{deliveryFee  | number:'':'en'}}</label>
          </div>
          <div class="cart-resume-row">
            <label class="bold">Total</label>
            <label class="bold">{{total | number:'':'en'}}</label>
          </div>
          <button class="btn btn-color-scheme btn-full" (click)="checkout()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>